<%- include ('./parts/header')%>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Presupuestos</h1>
                      
                        <a href="/budget/addBudget" class="btn btn-primary">Agregar un nuevo presupuesto</a>

                      
                        <div class="card mt-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Presupuestos
                            </div>

                            <div class="card-body">
                                <% if (quantity > 0) { %>
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Id Presupuesto</th>
                                            <th>Fecha creación</th>
                                            <th>Proyecto</th>
                                            <th>Versiones</th>
                                            <th>Editar</th>
                                            <th>Eliminar</th>
                                            <th>Enviar</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id Presupuesto</th>
                                            <th>Fecha creación</th>
                                            <th>Proyecto</th>
                                            <th>Versiones</th>
                                            <th>Editar</th>
                                            <th>Eliminar</th>
                                            <th>Enviar</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% allBudgets.forEach(function(budget){ %>
                                        <tr>
                                            <td><%= budget.id_Presupuesto %></td>
                                            <td><%= budget.fecha_creacion %></td>
                                            <td><%= budget.proyecto %></td>
                                            <td><%= budget.versiones %></td>
                                            <td><a href="/budget/editBudget/<%= budget.id_Presupuesto %>"><i class="fas fa-edit"></i>&nbspEditar</a></td>
                                            <td><a class="confirmDeletion" href="/budget/deleteBudget/<%= budget.id_Presupuesto %>"><i class="fas fa-trash-alt"></i>&nbspEliminar</a></td>
                                            <td><a href="/admin/products/editProduct/<%= budget.id_Presupuesto %>"><i class="fas fa-paper-plane"></i>&nbspEnviar</a></td>

                                           
                                        </tr>
                                        <% }); %>
                                        
                                    </tbody>
                                </table>
                                <% } else {%>
                                    <h3 class="text-center">No hay presupuestos.</h3>
                                    <% }%>
                            </div>
                        </div>
                    </div>
                </main>
                
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
    </body>
</html>
