<%- include ('../parts/header')%>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Flujo de Efectivo</h1>
                        <div class="row mt-4"> 
                            <div class="col-4">
                            <a href="/cashFlow/addColumn/<%= id_Budget %>" class="btn btn-primary">Agregar</a>   
                            </div>
                            <div class="col-4">
                             <a href="/cashFlow/deleteColumn/<%= id_Budget %>" class="btn btn-primary">Eliminar</a>
                            </div>
                        
                       
                        
                    </div>
                      
                        <div class="card mt-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Flujo de Efectivo
                            </div>

                            <div class="card-body">
                              
                              <% if (quantity > 0) { %>
                                <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <% instanceCashFlow.forEach(function(flow){ %>
                                        <th scope="col"><%= flow.mese.nombre %></th>
                                        <% }); %>
                                        <th scope="col">Total Final</th>
                                      
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">Ingreso</th>
                                        <% instanceCashFlow.forEach(function(flow){ %>                                          
                                          <td><a href="/cashFlow/editIncome/<%= flow.id_flujo %>"><i class="fas fa-edit"></i>&nbsp<%= flow.ingresos %></a></td>
                                          <% }); %>
                                       
                                      </tr>
                                      <tr>
                                        <th scope="row">Egresos</th>
                                        <% instanceCashFlow.forEach(function(flow){ %>
                                          <td scope="col"><%= flow.egresos %></td>
                                          <% }); %>
                                        
                                      </tr>
                                      <tr>
                                        <th scope="row">Total mes</th>
                                    
                                        <% instanceCashFlow.forEach(function(flow){ %>
                                          <td scope="col"><%= flow.total_meses %></td>
                                          <% }); %>
                                      </tr>

                                      <tr>
                                        <th scope="row">Acumulado</th>
                                    
                                        <% instanceCashFlow.forEach(function(flow){ %>
                                          <td scope="col"><%= flow.acumulado %></td>
                                          <% }); %>
                                      </tr>
                                    </tbody>
                                  </table>

                                  <% } else {%>
                                    <h3 class="text-center">No existe un flujo de efectivo.</h3>
                                    <% }%>


                            </div>
                        </div>
                    </div>
                </main>
                
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
    </body>
</html>
