<%- include ('../parts/header')%>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4"> Resumen Costos Recursos</h1>
                      
                      
                        <div class="card mt-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Resumen Costos Recursos
                            </div>

                            <div class="card-body">
                              
                              <% if (cantidad > 0) { %>
                                <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <% instanceEntry.forEach(function(entry){ %>
                                        <th scope="col"><%= entry.mese.nombre %></th>
                                        <% }); %>
                                        <th scope="col">Total Final</th>
                                      
                                      </tr>
                                    </thead>
                                    <tbody>

                                      
                                        <% let indicecolumn=0%>
                                        <%let namecolumn="";%> 
                                        <% instanceInfoEntry.forEach(function(infoentry){ %>
                                        
                                        <%if (indicecolumn===0){%>
                                        <% namecolumn= infoentry.filasresumencostosrecurso.nombre%>
                                        <%indicecolumn=indicecolumn+1%>
                                        <tr>
                                        <th scope="row"><%= namecolumn %></th>
                                        <td><a href="/summaryCostsResources/editConcept/<%= infoentry.id_info %>"><i class="fas fa-edit"></i>&nbsp<%= infoentry.valor %></a></td>
                                      
                                        <%}else{%>
                                      
                                        <%if(namecolumn==infoentry.filasresumencostosrecurso.nombre){%>
                                        <td><a href="/summaryCostsResources/editConcept/<%= infoentry.id_info %>"><i class="fas fa-edit"></i>&nbsp<%= infoentry.valor %></a></td>
                                        <%}else{%> 
                                        </tr>
                                        <tr>
                                        <% namecolumn= infoentry.filasresumencostosrecurso.nombre%>
                                        <th scope="row"><%= namecolumn %></th>
                                        <td><a href="/summaryCostsResources/editConcept/<%= infoentry.id_info %>"><i class="fas fa-edit"></i>&nbsp<%= infoentry.valor %></a></td>
                                       
                                        <%}%>
                                        <%}%>
                                        <% }); %>
                                       
                                    
                                      
                                      <tr>
                                        <th scope="row">Total mes</th>
                                    
                                        <% instanceEntry.forEach(function(entry){ %>
                                          <td scope="col"><%= entry.total_meses %></td>
                                          <% }); %>
                                      </tr>

                                      
                                    </tbody>
                                  </table>

                                  <% } else {%>
                                    <h3 class="text-center">No existe un flujo de efectivo.</h3>
                                    <% }%>


                            </div>
                        </div>
                    </div>
                </main>
               
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
    </body>
</html>
